<div class="col-md-10 col-md-offset-2 well">
	<h3 class="text-center">Order List</h3>
	<form class="form-group">
		<div class="input-group">
			<input type="text" id="filterInput" class="form-control" placeholder="Search" ng-keydown="$event.keyCode === 13 && vm.filterList()">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="vm.filterList()">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
	</form>
	
	<div class="form-group">
		<input type="button" value="Add Order" class="btn btn-primary btn-default btn-block" ng-click="vm.addOrder()" style="width: 100px;" />
	</div>

	<div class="panel">
		<table style="width: 100%;" class="table table-striped">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Date</th>
				<th>Gender</th>
				<th>Active</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.OrderList">
				<td>{{item.Name}}</td>
				<td>{{item.Type}}</td>
				<td ng-bind="item.Date | date:'MM/dd/yyyy'"></td>
				<td>{{item.Gender}}</td>
				<td>{{item.IsActive}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>